<!DOCTYPE html>
<html>
  <head>
    <title>My Awesome App</title>
    <link rel="stylesheet" href="/css/main.css" media="screen" charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <%= use_google_font('Lato') %>
  </head>
  <body>
    <%= yield %>
    <footer>
      <p>Copyright © MRK WRK 2016-<%= current_year %></p>
    </footer>
    <script src="/js/main.js" charset="utf-8"></script>
    <button type="button" class="btn btn-default" aria-label="Left Align">
    <%= icon('align-left') %>
    </button>

    <button type="button" class="btn btn-default btn-lg">
      <%= icon('cloud') %>
    </button>
  </body>
</html>
