<p>Once upon a time, there was a <%= params['animal'] %> with a very <%= params['adjective'] %> <%= params['body_part'] %>. It lived far from home, so every year, it had to <%= params['verb'] %> all the way to <%= params['place'] %> to see its favorite <%= params['number'] %> <%= pluralize(params['number'], 'cat') %></p>
<img src="<%= params['picture']%>" alt="photo" />
